body {
  background: #000;
  color: #ccc;
}

a {
  color: #FFD100;
  outline: none;
}

a:link {
  color: #FFD100;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.q0 { color: #9d9d9d !important; }
.q1 { color: #fff !important; }
.q2 { color: #1eff00 !important; }
.q3 { color: #0070dd !important; }
.q4 { color: #a335ee !important; }
.q5 { color: #ff8000 !important; }


.items-table {
  width: 100%;
  border-collapse: collapse;
}

.items-table th {
  white-space: nowrap;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 4px;
  text-align: center;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: #707070 #303030 #303030 #707070;
  background: #585858;
}

.items-table th:hover {
  background: #606060;
}

.items-table td {
  vertical-align: middle;
  padding: 4px;
  color: #ddd;
  border: solid 1px #404040;
  font-size: 14px;
}

.items-table td.numbers {
  text-align: right;
}

.item-classes ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-classes li {
  padding-top: 2px;
  padding-bottom: 2px;
}

.item-classes>ul>li {
  background: #303030;
  border: solid 1px #404040;
  border-top-width: 0;
  cursor: pointer;
}

.item-classes>ul>li>a {
  padding-left: 10px;
}

.item-classes>ul>ul>li {
  background: #000;
  border: solid 1px #404040;
  border-top-width: 0;
}

.item-classes>ul>ul>li>a {
  padding-left: 20px;
}

.money-gold, .money-silver, .money-copper {
  padding-right: 15px;
  padding-left: 4px;
  background: no-repeat right center;
}

.money-gold {
  background-image: url(/static/img/money-gold.gif);
}

.money-silver {
  padding-right: 15px;
  background-image: url(/static/img/money-silver.gif);
}

.money-copper {
  padding-right: 15px;
  background-image: url(/static/img/money-copper.gif);
}
