{% extends 'base/base.html' %}

{% block content %}


<div class="search">
  {% if cls_name %}
    {% if subcls_name %}
      <input type="text" placeholder="搜索{{ cls_name }}-{{ subcls_name }}" id="search-box">
    {% else %}
      <input type="text" placeholder="搜索{{ cls_name }}" id="search-box">
    {% endif %}
  {% elif not item_ids %}
    <input type="text" placeholder="搜索全部" id="search-box">
  {% endif %}

</div>

<h2>{{ realm.name }} - {{ faction.name }}</h2>

<div class="row">
  <div class="col-md-3">

    <div class="item-classes" id="item-all">
    <ul>
      <li><a href="/s/{{ realm.name }}/{{ faction.id }}/">全部</a></li>
    </ul>
    </div>

    <div class="item-classes" id="item-useful">
    <ul>
      <li data-toggle="collapse" data-target="#item-useful-list">常用物品</li>
      <ul class="collapse in" id="item-useful-list">
        <li><a href="/p/{{ realm.name }}/{{ faction.id }}/72988,53010,33470,21877,14047,4338,4306,2592,2589">布料</a></li>
        <li><a href="/p/{{ realm.name }}/{{ faction.id }}/72163,72162,72120,33568">皮革</a></li>
        <li><a href="/p/{{ realm.name }}/{{ faction.id }}/82446,41600,54444,54443,41599,21841">背包</a></li>
        <li><a href="/p/{{ realm.name }}/{{ faction.id }}/72092,72096,72094,72103,72095,72104,72093,52185,52186,53039,53038,54849">金属与矿石</a></li>
        <li><a href="/p/{{ realm.name }}/{{ faction.id }}/72238,79011,79010,72235,72234,72237">草药</a></li>
        <li><a href="/p/{{ realm.name }}/{{ faction.id }}/74248,74247,74252,74250,74251,74249,52722,52721,52720,52719,52718,52555">附魔材料</a></li>
        <li><a href="/p/{{ realm.name }}/{{ faction.id }}/76131,76138,76142,76141,76139,76140,76132,76130,76137,76133,76134,76135,76136,72092,72093">珠宝原石</a></li>
        <li><a href="/p/{{ realm.name }}/{{ faction.id }}/90046,83764,83765,83763,82444,82445,87560,83007,83006,87559,74728,74724,74726,74723">装备强化</a></li>
        <li><a href="/p/{{ realm.name }}/{{ faction.id }}/82453,34061,65891,41508,67151,52200,72146,95416,87251,83089,83087,83090,83088,87250">坐骑</a></li>
      </ul>
    </ul>
    </div>

    <div class="item-classes" id="item-classes">
    <ul>
    {% for cls in item_classes %}
      <li data-toggle="collapse" data-target="#item-class-{{ cls.id }}">
        <a href="/s/{{ realm.name }}/{{ faction.id }}/{{ cls.id }}">{{ cls.name }}</a>
      </li>
      {% if cls.id == cls_id %}
      <ul class="collapse in" id="item-class-{{ cls.id }}">
      {% else %}
      <ul class="collapse" id="item-class-{{ cls.id }}">
      {% endif %}
      {% for subcls in cls.subclasses %}
        <li><a href="/s/{{ realm.name }}/{{ faction.id }}/{{ cls.id }}.{{ subcls.id }}">{{ subcls.name }}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}
    </ul>
    </div>

  </div>

  <div class="col-md-9">

    <table class="items-table" id="items-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>物品名</a></th>
          <th>平均价格</th>
          <th>最低价格</th>
          <th>NPC收购价</th>
          <th>数量</th>
          <th>最后更新</th>
        </tr>
      </thead>

      <tbody>
      </tbody>

    </table>
  </div>
</div>

<script>
var criteria = {
  {% if item_ids %}
  item_ids: {{ item_ids }},
  {% elif cls_tag %}
  cls: '{{ cls_tag }}',
  {% endif %}

  realm: '{{ realm.name }}',
  faction: '{{ faction.id }}'
};

  
$(document).ready(function() {
  loadPrices(criteria);

  var search = function() {
    criteria.keyword = $("#search-box").val();
    delete criteria['tem_ids'];

    loadPrices(criteria);
  };

  $("#search-box").keypress(function(e) {
    if (e.keyCode == 13) search();
  }).blur(search);


  // tooltip layer
  var tooltip = {

    _tooltip: null,
    _tooltipTimer: null,

    show: function(content, pos) {
      if (this._tooltip) {
        this._tooltip.html(content).css(pos);
        var offsetY = this._tooltip.height() + pos.top - $(document).height();
        if (offsetY > 0) { this._tooltip.css({ top: pos.top - offsetY, left: pos.left }); }
        this._tooltip.show();
      }
    },

    hide: function() {
      if (this._tooltip) this._tooltip.hide();
    },

    init: function() {
      this._tooltip = $("<div>").addClass("item-tooltip").appendTo("body");

      // show tooltip on hover
      var root = this;

      $("#items-table").delegate("a.itemlink", "mouseover", function(e) {

        var pos = { left: e.pageX, top: e.pageY };

        root._tooltipTimer = setTimeout(function() {
          TOOLTIP.get($(e.target).attr("itemId"), function(item) {
            root.show(item.tip, pos);
          });
        }, 500);
      }).delegate("a.itemlink", "mouseout", function() {
        root.hide();
        clearTimeout(root._tooltipTimer);
      });
    }
  };

  tooltip.init();
  
});
</script>
<script src="/static/js/price.js"></script>
<script src="/static/js/tooltip.js"></script>


{% endblock %}
